@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body
{
	background: black;
	color:#2c3e50;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
#streamCanvas
{
	position: absolute;
	width: 1920px;
	height:1080px;
	top: 0;
	left: 0;
	background:#ecf0f1;
	background: url("img/ruan-carlos-bLt8kzH5pCw-unsplash.jpg");
	background: url("https://source.unsplash.com/collection/14915084/1920x1080");
	background-size: cover;
	background-position: center center;
	overflow:hidden;

	animation-name:fadeIn;
	animation-duration:0.5s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
.topBar
{
	position: absolute;
	width: 1820px;
	height:36px;
	line-height: 36px;
	top: 30px;
	left: 50px;
	background:#ecf0f1;
	color: #c0392b;
	display: flex;
	justify-content: space-between;
}
.topBarSegment
{
	margin: 0 18px;
}
.topBarItem
{
	margin: 0 6px;
}
.timeTick
{
	animation-name:fadeIn;
	animation-duration:1s;
	animation-iteration-count: infinite;
}
#nowPlayingVideo
{
	position: absolute;
	top: 245px;
	left: 13px;
	border: 6px solid #ecf0f1;

	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}
.streamUpdates
{
	position: absolute;
	right:234px;
	top:145px;
	background: #ecf0f1;
	text-align: left;
	padding: 72px;
	width: 420px;
	line-height: 24px;
	letter-spacing: 2px;

	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 1.75s;
	animation-fill-mode: backwards;
}
.highlightBlue
{
	color: #2980b9;
}
.humbleImage
{
	position: absolute;
	right: 156px;
	bottom: 69px;
	border: 6px solid #c0392b;

	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes scaleIn
{
    from
	{
		transform: scale(0.9);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}